
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>ACTIVITÉS</h2>

                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <a href="./activite"><i class=""></i>ACTIVITÉS </a>
                        <a href="/rpm"><i class=""></i>BODYCOMBAT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


  <section style="background-color: rgba(128, 128, 128, 0.11);" class="register-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="register-text">
                    <div class="section-title">
                        <h2 style="color: brown;">BODYCOMBAT</h2>
                        <br>
                        <img  src="assets/img/icon/timer.png"><strong>Durée du cours :</strong>55 min</div>



                        <div class="section-title">
                          <img  src="assets/img/icon/folder.png"><strong>Matériel utilisé :</strong>gants de boxe comme option
                         </div>
                         <div class="section-title">
                          <img  src="assets/img/icon/intensite.png">  <strong>Intensité :</strong> Haute intensité inspirée des arts martiaux (Tae-Kwando, Karaté, Kick- Boxing,
                          Boxe, Capoeira).
                       </div>
                       <div class="section-title">
                        <img  src="assets/img/icon/bodybuilding.png">  <strong>Groupes musculaires sollicités :</strong>Travail réactif du centre du corps
                     </div>

                          <div class="section-title">
                          <img  src="assets/img/icon/sport.png">  <strong>Tenue recommandée :</strong> Vêtements confortables, chaussures de sport et short ample pour les kicks, type short de boxe.
                       </div>
                       <br>

                       <div class="section-title">
                        <img  src="assets/img/icon/idea.png">  <strong>Recommandations :</strong>  Pensez à ramener une serviette et une bouteille d’eau.
                     </div>

                     </div></div>
                     <div class="col-lg-4">
                      <div class="register-pic">
                          <img src="assets/img/activite/bodycombat.jpg" alt="" style="margin: 40px;">
                      </div>
                  </div>
                </div>
        </div>

</section>

