<div class="row m-5">
<div class="card col-md-4 text-center mr-3">
<div class="col">
<div  class="mb-3 mt-3">
  <img src="assets/img/profil.png" class="rounnded-circle" width="200px" height="200px">
</div>
<div class="mb-3">
  <h2>Nom Prenom</h2>
  <small class="form-text text-muted">Adresse</small>
</div>
<div class="col mb-2 p-0">
   <button type="button" class="btn btn-primary mr-1" ><i class="fas fa-pencil-alt"></i>&nbsp; Modifier le profil</button>
   <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()"> <i class="fas fa-lock"></i>&nbsp; Changer le mots de passe </button>

</div>
</div>

</div>
<div class=" card col-md-7">
  <table class="table">

    <tbody>
      <tr>
        <th scope="row">Nom complet</th>
        <td>nom prenom</td>

      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>email@gmail.com </td>

      </tr>
      <tr>
        <th scope="row">Telephone</th>
        <td colspan="2">222222</td>
      </tr>
      <tr>
        <th scope="row">Date de naissance</th>
        <td colspan="2">12.12.12</td>
      </tr>
      <tr>
        <th scope="row">Poids</th>
        <td colspan="2">60kg</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
