<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <h2>INSCRIPTION</h2>
                  <div class="breadcrumb-option">
                      <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                      <span>INSCRIPTION</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



  <!-- Register Section Begin -->
   <section style="background-color: rgba(128, 128, 128, 0.11);" class="register-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="register-text">
                    <div class="section-title">
                        <h2>Inscrivez-vous </h2>
                    </div>

                    <form  class="register-form"  name="form"action="#" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                            <div class="row">
                              <div class="col-lg-6">
                                  <label for="nom" >Nom</label>
                                  <input type="text" autocomplete="off" class="form-control" name="nom"[(ngModel)]="form.nom" #nom="ngModel" required>
                                  <div *ngIf="f.submitted && nom.invalid">
                                    <div *ngIf="nom.errors.required" style="color: red; font-size: 16px;">Le nom est obligatoire</div>
                                  </div>
                              </div>

                              <div class="col-lg-6">
                                <label for="last-name">Prenom</label>
                                <input type="text" id="prenom" autocomplete="off" class="form-control" name="prenom"[(ngModel)]="form.prenom" #prenom="ngModel" required>
                                <div *ngIf="f.submitted && prenom.invalid">
                                  <div *ngIf="prenom.errors.required" style="color: red; font-size: 16px;">Le prenom est obligatoire</div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                              <label for="email">Email</label>
                              <input type="text" id="email" autocomplete="off" class="form-control" name="email"[(ngModel)]="form.email" #email="ngModel" required>
                                <div  *ngIf="f.submitted && email.invalid">
                                  <div *ngIf="email.errors.required" style="color: red; font-size: 16px;">Email est obligatoire</div>
                                  <div *ngIf="email.errors.email" style="color: red; font-size: 16px;">Email must be a valid email address</div>
                                  </div>
                                </div>

                                <div class="col-lg-6">
                                  <label for="password">Mots De Passe </label>
                                  <input type="password"  autocomplete="new-password" class="form-control" name="password"[(ngModel)]="form.password" #password="ngModel" required minlength="6"/>
                                  <div *ngIf="f.submitted && password.invalid" >
                                    <div *ngIf="password.errors.required" style="color: red; font-size: 16px;">Mots de passe est obligatoire</div>
                                     </div>
                                  </div>


                            <div class="col-lg-6">
                              <label for="telephone">Telephone</label>
                              <input type="tel" autocomplete="telephone" class="form-control" name="telephone"[(ngModel)]="form.telephone" #telephone="ngModel" required maxlength="8"/>
                              <div *ngIf="f.submitted && telephone.invalid" >
                                <div *ngIf="telephone.errors.required" style="color: red; font-size: 16px;">Numero est obligatoire</div>
                                <div *ngIf="telephone.errors.maxlength" style="color: red; font-size: 16px;">Numero must be at least 8</div>
                                 </div>
                              </div>

                              <div class="col-lg-6">
                                <label for="datenaiss">Date de Naissance</label>
                                <input type="date" autocomplete="date" class="form-control" name="datenaiss"[(ngModel)]="form.datenaiss" #datenaiss="ngModel" required />
                                <div *ngIf="f.submitted && datenaiss.invalid" >
                                  <div *ngIf="datenaiss.errors.required" style="color: red; font-size: 16px;">Date de Naissance est obligatoire</div>
                                  <div *ngIf="datenaiss.errors.maxlength" style="color: red; font-size: 16px;">Numero must be at least 8</div>
                                   </div>
                                </div>

                                <div class="col-lg-6">
                                  <label for="poids">Poids</label>
                                  <input type="text" autocomplete="off" class="form-control" name="poids"[(ngModel)]="form.poids" #poids="ngModel" required>
                                  <div *ngIf="f.submitted && poids.invalid">
                                    <div *ngIf="poids.errors.required" style="color: red; font-size: 16px;">Poids est obligatoire</div>
                                  </div>
                              </div>

                                <div class="col-lg-6" >
                                  <label  >Role</label>
                                  <select class="js-example-basic-single" style="width: 100%;" id="id" >
                                    <option *ngFor="let rol of role" [value]="rol.id">
                                            {{rol.name}}
                                    </option>

                                     <!-- <option value="AL">Abonne  </option>
                                    <option value="WY">Entraineur</option> -->
                                  </select>
                              </div>
                        </div>

                        <button type="submit" class="register-btn"> Créer un compte</button>

                        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-danger" style="max-width: 300px;">
                          signup failed§<br>
                        </div>

                        <div style="text-align:center">
                          <p>Avez-vous déjà un compte? <a routerLink="/loginuser"> Se Connecter.</a></p>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="register-pic">
                    <img src="assets/img/image1.jpg" alt="" style="margin: 60px ;">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register Section End -->


