<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 style="text-align: center">List Utilisateurs</h2>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <button  mat-flat-button color="primary">Ajouter Utilisateur</button>
    </div>
    <table class="table table-striped">

      <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Email</th>
        <th>Password</th>
        <th>Telephone</th>
        <th>Poids</th>
        <th>Role</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of utilisateur | async">
        <td>{{u.id}}</td>
        <td>{{u.nom}}</td>
        <td>{{u.prenom}}</td>
        <td>{{u.datenaiss}}</td>
        <td>{{u.email}}</td>
        <td>{{u.password}}</td>
        <td>{{u.telephone}}</td>
        <td>{{u.poids}}</td>
        <td>{{u.role}}</td>




        <td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

