<div class="row m-5">
  <div class="card col-md-4 text-center mr-3">
  <div class="col">
  <div  class="mb-3 mt-3">
    <img src="assets/img/profil.png" class="rounnded-circle" width="200px" height="200px">
  </div>
  <div class="mb-3">
    <h2>Nom Prenom</h2>
    <small class="form-text text-muted">Adresse</small>
  </div>
  </div>

  </div>
  <div class=" card col-md-7">
    <form class="mt-3">
      <div class="mb-3">
         <input type="password" class="form-control"  placeholder="Ancien mot de passe">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control"  placeholder="Nouveau mot de passe">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control"  placeholder="Confirmer mot de passe">
      </div>
    </form>
    <div class="row">
      <div class="col-md-12 text-right " >
      <button class="btn btn-danger mr-3" >
        <i class="fas fa-ban"></i>
        Annuler
      </button>
      <button class="btn btn-primary " >
        <i class="fas fa-save"></i>
        Enregistrer
      </button>
    </div>
  </div>
  </div>
  </div>

